
<strong>Olá, {{ student }}</strong>
<p>Email de resposta!</p>
<p>Detalhes da pergunta</p>
<p>
  <strong>Código da pergunta: </strong> {{ id }} <br>
  <strong>Pergunta: </strong> {{ question }} <br>
  <strong>Resposta: </strong> {{ answer }} <br>

  <small>
    Obrigado pela preferencia!
  </small>
</p>
